<div class="container-flex" id="shelf">
    <div *ngFor="let product of products" class="shelf-product" style="width: 225px;">
        <div class="shelf-product-img-cont">
            <div class="shelf-product-img">
                <!-- <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/33.png" alt="The Bard"> -->
                <img src="{{ getId(product.id) }}" alt="">
            </div>
        </div>
        <div class="shelf-product-text-cont">
            <div class="book-title"><a href="">{{ product.title }}</a></div>
            <div class="book-author">by <a href="">{{ product.author }}</a></div>
        </div>
        <div class="purchase">
            <button class="btn btn-success btn-lg btn-block">Add to Cart</button>
        </div>
    </div>
</div>