.example-spacer {
  flex: 1 1 auto;
}
.navbar {
  display: flex;
}

span {
  padding-left: 2rem;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-top: 5px; /* if you want it vertically middle of the navbar. */
}
