<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#"><img class="logo" src="assets/images/logo.svg" /></a>
    <button routerLink="/login" mat-button>
      <mat-icon>login</mat-icon>Login
    </button>
    <button routerLink="/register" mat-button>
      <mat-icon>account_circle</mat-icon>Signup
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-toolbar color="primary">
<br />
<br />
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#"><img class="logo" src="assets/images/logo.svg" /></a>
    <button mat-button>Login</button>
    <button mat-button>Signup</button>
    <a routerLink="/"><img class="logo" src="assets/images/logo.svg" /></a>
    <button routerLink="/login" mat-button>
      <mat-icon>login</mat-icon>Login
    </button>
    <button routerLink="/register" mat-button>
      <mat-icon>account_circle</mat-icon>Signup
    </button>
  </mat-toolbar-row>
</mat-toolbar>
-->
