<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#"><img class="logo" src="assets/images/logo.svg" /></a>
    <button mat-button><mat-icon>login</mat-icon>Login</button>
    <button mat-button><mat-icon>account_circle</mat-icon>Signup</button>
  </mat-toolbar-row>
</mat-toolbar>

<br />
<br />
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#"><img class="logo" src="assets/images/logo.svg" /></a>
    <button mat-button>Login</button>
    <button mat-button>Signup</button>
  </mat-toolbar-row>
</mat-toolbar>
