<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">
  <mat-card class="register-card">
    <mat-card-title>Register Form</mat-card-title>
    <mat-card-content>
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <!-- FIRST NAME FIELD   -->
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" name="First Name" formControlName="firstName" required />
              </mat-form-field>
            </td>
          </tr>

          <!-- LAST NAME FIELD   -->
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" name="Last Name" formControlName="lastName" required />
              </mat-form-field>
            </td>
          </tr>
          <!-- Email FIELD   -->
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email" required />
              </mat-form-field>
            </td>
          </tr>
          <!-- PASSWORD FIELD   -->
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" name="password" formControlName="password" required />
              </mat-form-field>
            </td>
          </tr>
        </table>
        <button mat-raised-button color="primary" class="button" type="submit">Register</button>
      </form>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>