<div class="shelf-product" style="width: 225px;">
    <div class="shelf-product-img-cont">
        <div class="shelf-product-img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/First_Folio.jpg/144px-First_Folio.jpg"
                alt="The Bard">
        </div>
    </div>
    <div class="shelf-product-text-cont">
        <div class="book-title"><a href="">The Title of the Book</a></div>
        <div class="book-author">by <a href="">Name Lastname</a></div>
    </div>
    <div class="purchase">
        <button class="btn btn-success btn-lg btn-block">Add to Cart</button>
    </div>
</div> 