<div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      Get order history
    </button>
    
  </div>
<div class="order-history">
<table mat-table [dataSource]="ordersList" class="mat-elevation-z8 demo-table">
    <!-- order id -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>Order Id</th>
      <td mat-cell *matCellDef="let order">{{order.id}}</td>
    </ng-container>
  
    <!-- product id, add a call to the products table to get the product name -->
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef>Product id</th>
      <td mat-cell *matCellDef="let order">{{order.product}}</td>
    </ng-container>
  
    <!-- quantity -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let order">{{order.quantity}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>