<link rel="stylesheet" href="cart.component.css">

<mat-grid-list cols="2">
    <mat-grid-tile>

        <form id="cart" action="cart.html" method="post" class="example-form">
            <div class="mat-title">Cart:</div>
            <table class="example-full-width" cellspacing="0">

                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                </tr>

                <tbody></tbody>
            </table>
            <p id="sub-total">
                <strong>Sub Total</strong>: <span id="stotal"></span>
            </p>
            <ul id="cart-actions">
                <br>
                <mat-divider></mat-divider>
                <section>
                    <div class="example-label">Raised</div>
                    <div class="example-button-row">
                        <!-- need to add click event here -->
                        <button (click)="" mat-raised-button color="primary" Warn>Update Cart</button>

                        <!-- need to add click event here -->
                        <button (click)="" mat-raised-button color="primary" Warn>Empty Cart</button>

                        <button (click)="window.open(../src/index.html);" mat-raised-button color="primary" Warn>Continue
                            Shopping</button>

                        <button (click)="window.open(../checkout.html);" mat-raised-button color="primary"
                            Warn>Checkout</button>
                    </div>
                </section>


        </form>

    </mat-grid-tile>
</mat-grid-list>