<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- ADDRESS SECTION -->
<!-- <div class="row">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h1 class="mb-0">Checkout</h1>
      </div>
      <div class="card-body">
        <form> -->
<!-- 2 column grid layout with text inputs for the first and last names -->
<!-- <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form7Example1" class="form-control" />
                <label class="form-label" for="form7Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form7Example2" class="form-control" />
                <label class="form-label" for="form7Example2">Last name</label>
              </div>
            </div>
          </div> -->

<!-- Text input -->
<!-- <div class="form-outline mb-4">
            <input type="text" id="form7Example3" class="form-control" />
            <label class="form-label" for="form7Example3">Company name</label>
          </div> -->

<!-- Text input -->
<!-- <div class="form-outline mb-4">
            <input type="text" id="form7Example4" class="form-control" />
            <label class="form-label" for="form7Example4">Address</label>
          </div> -->

<!-- Email input -->
<!-- <div class="form-outline mb-4">
            <input type="email" id="form7Example5" class="form-control" />
            <label class="form-label" for="form7Example5">Email</label>
          </div> -->

<!-- Number input -->
<!-- <div class="form-outline mb-4">
            <input type="number" id="form7Example6" class="form-control" />
            <label class="form-label" for="form7Example6">Phone</label>
          </div>
        </form>
      </div>
    </div>
  </div>

 
</div> -->

<!-- PAYMENT SECTION -->
<!-- <section class="p-4 p-md-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <h2>Payment:</h2>
          </div>
          <form action="">


            <p class="fw-bold mb-4">Add new card:</p>

            <div class="form-outline mb-4">
              <input type="text" id="formControlLgXsd" class="form-control form-control-lg" value="Anna Doe" />
              <label class="form-label" for="formControlLgXsd">Cardholder's Name</label>
            </div>

            <div class="row mb-4">
              <div class="col-7">
                <div class="form-outline">
                  <input
                    type="text"
                    id="formControlLgXM"
                    class="form-control form-control-lg"
                    value="1234 5678 1234 5678"
                  />
                  <label class="form-label" for="formControlLgXM"
                    >Card Number</label
                  >
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline">
                  <input
                    type="password"
                    id="formControlLgExpk"
                    class="form-control form-control-lg"
                    placeholder="MM/YYYY"
                  />
                  <label class="form-label" for="formControlLgExpk"
                    >Expire</label
                  >
                </div>
              </div>
              <div class="col-2">
                <div class="form-outline">
                  <input type="password" id="formControlLgcvv" class="form-control form-control-lg" placeholder="Cvv" />
                  <label class="form-label" for="formControlLgcvv">Cvv</label>
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-lg btn-block">Add card</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-md-4 mb-4">
  <div class="card mb-4">
    <div class="card-header py-3">
      <h2 class="mb-0">Summary:</h2>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
        >
          Products
          <span>$53.98</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center px-0"
        >
          Shipping
          <span>Gratis</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
        >
          <div>
            <strong>Total amount</strong>
            <strong>
              <p class="mb-0">(including VAT)</p>
            </strong>
          </div>
          <span><strong>$53.98</strong></span>
        </li>
      </ul>

      <button type="button" class="btn btn-primary btn-lg btn-block">
        Make purchase
      </button>
    </div>
  </div>
</div> -->
