.example-spacer {
    flex: 1 1 auto;
  }
.navbar{
    display: flex;

}

span{
    padding-left: 2rem;
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}