#shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin-top: 20px;
}

col {
  height: 300px;
}

a {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-decoration: none;
}

.book-title {
  font-weight: bold;
}

.book-author {
  font-style: italic;
}

.shelf-product-img img {
  height: 250px;
}

.shelf-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 5px;
}
