<div class="container-flex" id="shelf">
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
    <app-product-display-item></app-product-display-item>
</div>