<mat-grid-list cols="2">
    <mat-grid-tile>
         <!-- ADDRESS SECTION -->
     
     <form class="example-form">
      <div class="mat-title">Shipping Info:</div>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>
    
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St"></textarea>
        </mat-form-field>
        
      </p>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
      </tr></table>
  
      <div class="mat-title">Add Credit Card:</div>
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cardholder's Name</mat-label>
          <input matInput>
        </mat-form-field>
        
      </p>
    
      <table class="example-full-width" cellspacing="1"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Card Number</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Expire Date</mat-label>
          <input matInput placeholder="MM/YYYY">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>CVV</mat-label>
          <input matInput #postalCode maxlength="3" placeholder="">
          <mat-hint align="end">{{postalCode.value.length}} / 3</mat-hint>
        </mat-form-field></td>
      </tr></table>
     </form>
    </mat-grid-tile>
      
  
  
    <mat-grid-tile>
      <div>
        <div class="mat-title">Order Summary:</div>
        <mat-list>
          <div mat-subheader>Cart Items:</div>
          <mat-list-item *ngFor="let cartItem of cartItems">
            <mat-icon mat-list-icon>library_books</mat-icon>
            <div mat-line><div class="subheading-1">{{cartItem.name}}</div></div>
            <div mat-line><div class="subheading-1">{{cartItem.price}}</div>  </div>
          </mat-list-item>
          
          
        </mat-list>
        <br>
        <mat-divider></mat-divider>
        <div class="mat-body-2">Subtotal: <div class="mat-headline">$100</div></div>
        <mat-divider></mat-divider>
        <div class="mat-body-2">Shipping:  <div class="mat-headline">$20</div></div>
        <mat-divider></mat-divider>
        <div class="mat-body-2">Total:  <div class="mat-headline">$120</div></div>
        <mat-divider></mat-divider>
        <br>
        <button (click)="purchase()"  mat-raised-button color="primary"Warn>Purchase</button>
      </div>
      
    </mat-grid-tile>
  
  </mat-grid-list>
